.container {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  gap: 2em;
}
.field {
  display: flex;
  flex-direction: column;
}
.input_row {
  font-size: 2em;
  display: flex;
  justify-content: space-between;
}
.error_row {
  font-size: 1.5em;
  min-height: 1.5em;
  color: red;
  p {
    font-style: italic;
    text-align: center;
    margin: 0;
  }
}
.submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.error_message {
  color: red;
}
