.container {
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  font-weight: bold;
  width: 35%;
  margin-left: 5%;
  margin-right: 15%;
}
.input_row {
  display: flex;
  //   flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // gap: 1em;
  // max-width: 400px;
}
.error_row {
  //   font-size: 1.5em;
  //   padding: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 1em;
  color: red;
  small {
    font-style: italic;
    text-align: center;
    margin: 0;
  }
}
