.container {
  font-family: sans-serif;
  font-size: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 4px;
  align-items: center;
  width: 49%;
}
